/.gradle/
/.settings/
/bin/
/build/
/eclipse/
/gradle/
/.classpath
/.project
/CREDITS-fml.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/forge-1.7.10-10.13.0.1180-changelog.txt
/gradlew
/gradlew.bat
