*.iml
*.ipr
*.iws
.gradle/
out/
CREDITS-fml.txt
*.location
*.location
*.tree
*.prefs
*.prefs
*.launch
eclipse/*
src/main/logs
src/main/config
src/main/saves
src/main/options.txt
src/main/crash-reports/
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
